.App {
  text-align: center;
 
}
.field{
  box-shadow: 0px 4px 5px grey;
  border: none;
  padding: 4px  15px;
  border-radius: 3px;
}
.btn{
  background-color: rgb(241, 239, 239);
  border: none;
  border-radius: 5px;
  color: white;
}
.btn:hover{
  background-color: #797a7a;
}
ul{
  list-style: none;
}
h1{
  color: #575a5e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
